# INNORIX Platform
INNORIX_BASE_URL=https://your-innorix-server.com
INNORIX_API_KEY=your_api_key

# Transfer
AUTOMATION_ID=your_automation_id

# Cribl Stream
CRIBL_ENDPOINT=http://localhost:10080
CRIBL_SOURCE=innorix
CRIBL_TOKEN=your_cribl_token